:root {
  --nav-dark: #1e1a23;
  --nav-light: #322940;
  --main-dark: #282828;
  --main-light: #d2d2d2;
  --code: #453959;
  --links: #b9aecb;
  --visited-links: #b991d0;
  --heading-lines: #555555;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: arial, sans-serif;
}

body {
  margin: 0;
  color: var(--main-light);
  background: var(--main-dark);
}

.header-text {
  padding: 0.8em 0;
  margin: 0;
}

.nav-header {
  font-weight: bold;
  padding: 2rem 1rem;
  background: var(--nav-light);
  border-bottom: solid 1px black;
}

.navbar {
  background: var(--nav-dark);
  position: fixed;
  height: 100%;
  border-right: solid 1px black;
  top: 0;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  color: var(--main-light);
}

.nav-links li {
  padding: 1em;
  background: var(--nav-dark);
  border-bottom: solid 1px black;
  transition: background ease-in-out 0.06s;
}

.nav-links li:hover {
  background: var(--nav-light);
}

.nav-links li:active {
  background: var(--nav-dark);
}

main {
  padding: 0 1em 1em 12em;
  max-width: 120ch;
}

.main-section {
  margin-bottom: 2.2em;
}

.main-section h2 {
  border-bottom: 1px solid var(--heading-lines);
}

.main-section code {
  padding: 0.4em;
  background: var(--code);
  border-radius: 2px;
}

.section-text {
  line-height: 1.6;
}

.section-list {
  line-height: 1.6;
}

.example-list {
  list-style-type: none;
  font-family: monospace;
  margin-right: 3em;
}

.example-lists {
  display: flex;
  align-items: center;
}

.links {
  color: var(--links);
}

.links:visited {
  color: var(--visited-links);
}

.main-footer {
  background: var(--nav-dark);
  text-align: center;
  padding: 1em 1em 1em 12em;
  font-size: 0.8em;
}

.footer-text{
  margin: 0;
  max-width: 120ch;
}

@media screen and (max-width: 700px), (max-height: 450px) {
  body {
    display: block;
  }

  main {
    padding: 4em 1em 1em 1em;
    width: auto;
  }

  .navbar {
    position: fixed;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .nav-header {
    padding: 0;
  }

  .nav-links {
    display: none;
  }

  .main-footer {
    padding: 1em;
  }

  .footer-text{
    margin: 0;
    max-width: 120ch;
  }
}
